/*a {*/
    /*color: white;*/
/*}*/
/*a:visited {*/
    /*color: white;*/
/**/
/*}*/
a:hover {
    text-decoration: none;
    color: white;
}
hr {
    height: 5px;
}
div.menu {
    color: white;

}
div.head {
    background-image: url(img/keyboard-254582_1920.jpg);
    background-size: cover;
    height: 600px;
}
div.footer {
    background-color: darkgrey;
}
.navbar {
    margin-bottom: 0px;
}
body {
    line-height: 2;
    font-size: 16px;
}
.white-text {
    color: white;
}
.white-text a{
    color: white;
}
